<div class="banner">
	<div class="banner-background">
		<div class="title">
			Pokemon Lookup
		</div>
		<div class="description">
			Lookup details about your favorite Pokemon
		</div>
	</div>
	<mat-form-field appearance="fill">
		<input #pokemonSearch matInput placeholder="Search" (keyup.enter)="onEnterUp(pokemonSearch.value)">
	</mat-form-field>
	<p *ngIf="showNoPokemonMessage" class="no-pokemon-message">No pokemon were found</p>
</div>
<div class="pokemon-container" fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center stretch">
	<mat-card *ngFor="let p of displayPokemon">
		<div class="sprite-container">
			<img *ngIf="getSprite(p)" [src]="getSprite(p)">
		</div>
		<p class="pokemon-name">{{ p.name }}</p>
		<p>Height: {{ p.height }}</p>
		<p>Weight: {{ p.weight }}</p>
		<p>{{ p.url }}</p>
	</mat-card>
</div>